<p class="heading pt-5">Together With families & Our love story continues to unfold, and we invite you to join us as we take the next step in our journey of togetherness.</p>
<h1 class="heading king-queen"> Santhosh </h1>
<h1 class="heart"><span><i class="bi bi-heart-fill" style="font-size:48px;color:red"></i></span></h1>
<h1 class="heading king-queen"> Brindha </h1>

<p class="heading"> Invite you to celebrate our Reception </p>
<p class="heading addon"> SAVE THE DATE </p>
<p class="heading date"> February  </p>
<p class="heading month"> MONDAY  |10| at 6'o clk </p>
<p class="heading day"> 2024 </p>
<div class="line"></div>

<p class="heading location"> Venue: K.S.R Mahal A/C<br> Kolathur, Chennai </p>


