<p class="heading message pt-5">The Universe made us believe in magic on Feb 2,2025. Our amazing tale continues to unfold with new chapters. We invite you to join the revealing of our next life chapter.</p>
<h1 class="heading king-queen"> Santhosh </h1>
<h1 class="heart"><span><i class="bi bi-heart-fill" style="font-size:48px;color:red"></i></span></h1>
<h1 class="heading king-queen"> Brindha </h1>

<p class="heading invite"> Invite you to celebrate our Reception </p>
<p class="heading addon"> SAVE THE DATE </p>
<p class="heading date"> February  </p>
<p class="heading month"> MONDAY  |10| at 6:00 PM </p>
<p class="heading day"> 2024 </p>
<div class="line"></div>

<p class="heading location"> Venue: K.S.R Mahal A/C<br> Kolathur, Chennai </p>
<div class="heading mb-2">
  <i class="bi bi-geo-alt-fill"></i>
  <a href="https://www.google.com/maps/dir//KSR+Mahal+A%2FC,+26,+1st+Main+Rd,+Srinivasa+Nagar,+Kolathur,+Chennai,+Tamil+Nadu+600099/@13.118855,80.2030719,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3a526466c7ce40c5:0x6f5801acd2409dee!2m2!1d80.2056468!2d13.118855?entry=ttu&g_ep=EgoyMDI0MDgyOC4wIKXMDSoASAFQAw%3D%3D">Route to Reach</a>
</div>

